@model Property
@using Microsoft.AspNetCore.Identity
@using System.Linq
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var reservationMessage = ViewBag.ReservationMessage;
    var guestMessage = TempData["GuestMessage"] as string;
    if (!string.IsNullOrEmpty(reservationMessage))
    {
        <div class="alert alert-danger">
            @reservationMessage
        </div>
    }
    if (!string.IsNullOrEmpty(guestMessage))
    {
        <div class="alert alert-danger">
            @guestMessage
        </div>
    }
}

<div class="property-details-container row">
    <h3 class="property-title col-12">@Model.Title</h3>


    <div class="col-12">
        <!-- Carousel Starts Here -->
        <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var imageList = Model.Images.ToList(); // Convert to List
                }
                @for (int i = 0; i < imageList.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@imageList[i].ImageUrl" class="d-block w-700 property-image img-fluid" alt="@Model.Description">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="row mt-4">
            @for (int i = 0; i < imageList.Count; i++)
            {
                <div class="col-2">
                    <img src="@imageList[i].ImageUrl" class="img-thumbnail" data-bs-target="#propertyCarousel" data-bs-slide-to="@i">
                </div>
            }
        </div>

    </div>

    <div class="col-md-6">
        <div class="property-additional-info">
            <h2>@Model.PType.PTypeName hosted by @Model.Customer.Name</h2>
            <h3 class="property-price">@Model.Price.ToString("0.00 NOK")</h3>
            <h3 class="property-address col-12">@Model.Address</h3>
            <span class="property-info-item">Guests: @Model.Guest</span>
            <span class="property-info-item">Bed: @Model.Bed</span>
            <span class="property-info-item">Bedrooms: @Model.BedRooms</span>
            <span class="property-info-item">Bathrooms: @Model.BathRooms</span>
            <h5>@Model.Description</h5>
        </div>
        <h4>What this place offers</h4>
        <div class="row">
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-utensils"></i>
                    <span class="ms-2">Kitchen</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-wifi"></i>
                    <span class="ms-2">Wifi</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-briefcase"></i>
                    <span class="ms-2">Dedicated workspace</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-parking"></i>
                    <span class="ms-2">Free street parking</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-swimming-pool"></i>
                    <span class="ms-2">Pool</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-tv"></i>
                    <span class="ms-2">TV with standard cable</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-soap"></i>
                    <span class="ms-2">Washer</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-fire"></i>
                    <span class="ms-2">Indoor fireplace</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-wind"></i>
                    <span class="ms-2">Hair dryer</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <i class="fas fa-microchip"></i>
                    <span class="ms-2">Microwave</span>
                </div>
            </div>
        </div>

        <h4>Leave a Review</h4>

        <div class="rating-stars">
            <span class="star" data-star="1">★</span>
            <span class="star" data-star="2">★</span>
            <span class="star" data-star="3">★</span>
            <span class="star" data-star="4">★</span>
            <span class="star" data-star="5">★</span>
        </div>

        <p>Your Rating: <span id="selected-rating">0</span></p>
    </div>
    <div class="col-md-6">
        @if (UserManager.GetUserName(User) == Model.Customer.Name)
        {
            <a class="btn btn-primary" role="button" asp-controller="Property" asp-action="Update" asp-route-id="@Model.PropertyId">Update</a>
            <a role="button" class="btn btn-danger" asp-controller="Property" asp-action="Delete" asp-route-id="@Model.PropertyId">Delete</a>
        }
        else
        {
            <div class="property-description">

                <form method="post" asp-controller="Reservation" asp-action="Reserve" asp-route-propertyId="@Model.PropertyId">
                    <div class="form-group">
                        <label for="reservationsDate">Start Date:</label>
                        <input type="date" class="form-control" id="reservationDate" name="reservationDate" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <label for="endReservationDate">End Date:</label>
                        <input type="date" class="form-control" id="endReservationDate" name="endReservationDate" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <label for="numberOfGuests">Number of Guests:</label>
                        <input type="number" class="form-control" id="numberOfGuests" name="numberOfGuests" required>
                    </div>
                    <button type="submit" id="Reserve" class="btn btn-danger">Reserve</button>
                </form>
                <a class="back-to-home-link" asp-controller="Home" asp-action="Index">Back to Home</a>
            </div>
        }

    </div>

</div>



