@model Property
@using System.Linq  <!-- Add this if you haven't -->

<div class="property-details-container">
    <h3 class="property-address">@Model.Address</h3>
    <div class="row property-info">
        <div class="col-md-5">
            <!-- Carousel Starts Here -->
            <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        var imageList = Model.Images.ToList(); <!-- Convert to List -->
                    }
                    @for (int i = 0; i < imageList.Count; i++)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img src="@imageList[i].ImageUrl" class="d-block w-700 property-image img-fluid" alt="@Model.Description">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel Ends Here -->
        </div>
        <div class="col-md-5">
            <div class="property-description">
                <h5>@Model.Description</h5>
                <h3 class="property-price">@Model.Price.ToString("0.00 NOK")</h3>
                <a class="back-to-home-link" asp-controller="Home" asp-action="Index">Back to Home</a>
                
            </div>
        </div>
    </div>
</div>
