@model IEnumerable<Property>
@using AirMet;

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PropertyId</td>
                <td>
                    <a asp-controller="Property"
                       asp-action="Details"
                       asp-route-id="@item.PropertyId">@item.Address</a>
                </td>
                <td>@item.Price.ToString("0.00 NOK")</td>
                <td>@item.Description</td>
                <td>
                    <a asp-controller="Property" asp-action="Update" asp-route-id="@item.PropertyId">Update</a>
                    <a asp-controller="Property" asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Property"
           asp-action="Create">Add new home</a>
    </p>
</div>